GOOGLE_ACCOUNT_FILE=xxxxxxxxxxxxxxxxxxxx
GCP_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SERVICE_ACCOUNT_FILE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL_ID='base'
MODEL_PATH='./models'
DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXCEL_QUESTION_BANK_PATH=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_REGION="us-east-1"

RAILS_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RAILS_ACCEPT_HEADER=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RAILS_API_BASE_URL=http://127.0.0.1:3000

API_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

LLM_MODEL=mistral:7b-instruct-q4_0
DATABASE_NAME=xxxxxxxxxxxxxxxxxxx
DATABASE_USERNAME=xxxxxxxxxxxxxx
DATABASE_PASSWORD=xxxxxxxxxxxxxxxxxxx
DATABASE_HOST=xxxxxxxxxxxxxxxxxx
DATABASE_PORT=xxxxxxxxxxxxxxxxxxxx