# Frontend Domain
NEXT_DOMAIN=http://localhost:5173
# Python Domain
PYTHON_DOMAIN=http://localhost:8000

# Database Configuration
DATABASE_USERNAME=xxxxxx
DATABASE_PASSWORD=xxxxxx
DATABASE_NAME=xxxxxx
DATABASE_HOST=xxxxx
DATABASE_PORT=xxxxx

AWS_REGION=xxxxxx
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
AWS_BUCKET_NAME: xxxxxxxxxxxxxxxxxx

PYTHON_SERVICE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PYTHON_JD_PARSE=/parse-job-description
PYTHON_RESUME_PARSE=/parse-resume
